<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="logo1.png" alt="" width="125px">
                </div>
                <nav>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Account</a></li>
                    </ul>
                </nav>
                <i class="fa-solid fa-cart-shopping cart"></i>
                <i class="fa-solid fa-bars menu"></i>
            </div>
            <div class="row" id="row">
                <div class="col-2" style="font-family: cursive;">
                    <h1>Stylish outfits </h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus tenetur <br> fugit sint
                        ratione deserunt cupiditate veniam repudiandae reiciendis aliquid optio debitis, officia nostrum
                        totam.</p>
                </div>
                <div class="col-2">
                    <!-- <img src="https://static.vecteezy.com/system/resources/thumbnails/002/006/774/small/paper-art-shopping-online-on-smartphone-and-new-buy-sale-promotion-backgroud-for-banner-market-ecommerce-free-vector.jpg" alt=""> -->
                    <img src="https://img.freepik.com/premium-psd/banner-template-online-fashion-sale_23-2148585403.jpg?w=1380"
                        style="width:100%" class="image">
                </div>
            </div>
        </div>
    </div>





    <!-- feature categories-------------------------- -->
    <div class="categories">
        <div class="small-container">
            <div class="row">
               
                <div class="col-3">
                    <img src="https://img.freepik.com/free-psd/horizontal-banner-online-fashion-sale_23-2148585404.jpg?w=2000"
                        alt="" class="col3-img" height="300px">
                </div>
                <div class="col-3">
                    <img src="https://i.ytimg.com/vi/II0cF9hFQ_g/maxresdefault.jpg" alt="" class="col3-img" height="300px";>
                </div>
                <div class="col-3">
                    <img src="https://spingtree.com/wp-content/uploads/2018/07/banner-ecom.png" alt="solid=" col3-img" height="300px">
                </div>
            </div>
        </div>
    </div>
 




    <!-- features product--------------- -->
     <a href="">
    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="tops1.webp" alt="" class="col4-img">
                <h4>Trimmer</h4>
                <p>$50.00</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="col-4">
                <img src="tops2.webp" alt="" class="col4-img">
                <h4>Trimmer</h4>
                <p>$50.00</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="col-4">
                <img src="tops3.webp" alt="" class="col4-img">
                <h4>Trimmer</h4>
                <p>$50.00</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="col-4">
                <img src="tops6.webp" alt="" class="col4-img">
                <h4>Trimmer</h4>
                <p>$50.00</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
        </div>
    
        <h2 class="title">Latest Product</h2>
        <div class="row">
            <div class="col-4">
                <img src="boysjeans1.webp" alt="" class="col4-img">
                <h4>Trimmer</h4>
                <p>$50.00</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="col-4">
                <img src="boysshirt1.webp" alt="" class="col4-img">
                <h4>Trimmer</h4>
                <p>$50.00</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="col-4">
                <img src="boysshirt2.webp" alt="" class="col4-img">
                <h4>Trimmer</h4>
                <p>$50.00</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="col-4">
                <img src="boyt-shirt1.webp" alt="" class="col4-img">
                <h4>Trimmer</h4>
                <p>$50.00</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <img src="boysjeans2.webp" alt="" class="col4-img">
                    <h4>Trimmer</h4>
                    <p>$50.00</p>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
                <div class="col-4">
                    <img src="boysjeans3.webp" alt="" class="col4-img">
                    <h4>Trimmer</h4>
                    <p>$50.00</p>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
                <div class="col-4">
                    <img src="boyt-shirt2.webp" alt="" class="col4-img">
                    <h4>Trimmer</h4>
                    <p>$50.00</p>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
                <div class="col-4">
                    <img src="boyt-shirt3.webp" alt="" class="col4-img">
                    <h4>Trimmer</h4>
                    <p>$50.00</p>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</a>


    <!-- ---------------offers--------------- -->

    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="kids4.webp" class="image" alt="">
                </div>

                <div class="col-2">
                    <p class="off">Exclusive Available on RedStore</p>
                    <h1 class="off">Smart Ban</h1>
                    <p class="off">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident cum aperiam illo
                        officiis
                        numquam natus! Iusto, excepturi cum dolore dolorem ut nemo neque facilis quia.</p>
                    <p id="buy"><a href="" class="buy">Buy Now<i class="fa-solid fa-arrow-right arrow"></i></a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- -----------testimonial--------- -->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quia quis fugit, explicabo suscipit
                        perferendis commodi tempore illum reiciendis maxime. Animi at nulla debitis fuga.</p>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <img src="https://images.unsplash.com/photo-1568316674077-d72ee56de61c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cHJvZmVzc2lvbmFsJTIwbWFufGVufDB8fDB8fA%3D%3D&w=1000&q=80"  alt="">
                    <h3>Mohit Sharma</h3>
                </div>

                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quia quis fugit, explicabo suscipit
                        perferendis commodi tempore illum reiciendis maxime. Animi at nulla debitis fuga.</p>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <img src="https://userscontent2.emaze.com/images/2f25a968-add0-4ebc-8623-450ba9c12179/d281440e-06ff-48b3-8bc8-b64c2d8a5e29.png" alt="">
                    <h3>Mohit Sharma</h3>
                </div>

                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quia quis fugit, explicabo suscipit
                        perferendis commodi tempore illum reiciendis maxime. Animi at nulla debitis fuga.</p>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <img src="https://images.unsplash.com/photo-1628890920690-9e29d0019b9b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmVzc2lvbmFsJTIwbWFufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
                    <h3>Mohit Sharma</h3>
                </div>
            </div>
        </div>
    </div>


    <!-- ------------brands------------- -->

    <div class="brands">
        <div class="small-container">
            <div class="row">
                
                <div class="col-5">
                    <img src="naaptol-logo.jpg" alt="">
                </div>
                <div class="col-5">
                    <img src="Godrej_Logo.svg.png" alt="">
                </div>
                <div class="col-5">
                    <img src="Myntra-Logo.png" alt="">
                </div>
                <div class="col-5">
                    <img src="payapl.webp" alt="">
                </div>


            </div>
        </div>
    </div>





    <!-- ------------------------footer------------------- -->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3 class="download">Download Our App</h3>
                    <!-- <p class="p">Download App for Android and ios mobile phone.</p> -->
                </div>

                <div class="footer-col-2">
                    <img src="24-243000_download-our-app-from-playstore.jpeg" alt="">
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dicta natus aspernatur vel beatae deleniti provident temporibus accusamus est, quas exercitationem officiis consectetur. Odit, ducimus?</p> -->
                </div>

                <div class="footer-col-3">
                    <h3>Usefull links</h3>
                    <ul>
                        <li>Cupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affilate</li>
                    </ul>
                </div>


                <div class="footer-col-3">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>twitter</li>
                        <li>Instagram</li>
                        <li>You Tube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2020 - Easy Tutorials</p>
        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>